* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

.header {
  background-color: #320000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 50px;
  height: 100px;
  position: relative;
}

.titulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Great Vibes", cursive;
  color: antiquewhite;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 700;
}

.opcoes-cabecalho-esquerda,
.opcoes-cabecalho-direita {
  display: flex;
  gap: 32px;
  align-items: center;
  font-family: "Elms Sans", sans-serif;
  transition: color 0.3s, transform 0.3 ease;
}

.opcoes-cabecalho-esquerda {
  display: flex;
  align-items: center;
  margin-left: 350px;
  gap: 80px;
}

.opcoes-cabecalho-esquerda img {
  position: absolute;
  align-items: flex-start;
  left: 50px;
  width: 35px;
  height: auto;
  justify-content: flex-start;
  cursor: pointer;
}

.opcoes-cabecalho-direita {
  display: flex;
  align-items: center;
  margin-right: 300px;
  gap: 80px;
}

.opcoes-cabecalho-esquerda a,
.opcoes-cabecalho-direita a {
  text-decoration: none;
  color: antiquewhite;
}

.opcoes-cabecalho-esquerda a:hover,
.opcoes-cabecalho-direita a:hover {
  color: #d4a373;
  scale: 1.05;
  font-weight: bold;
  transition: all 0.3s ease;
}

.opcoes-cabecalho-direita a:last-child {
  border: 2px solid antiquewhite;
  border-radius: 45%;
  padding: 8px 12px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opcoes-cabecalho-direita a:last-child:hover {
  color: #320000;
  background-color: #d4a373;
}
.slogan-imagem-texto {
  position: relative;
  width: 100%;
}
.imagem-fundo1 img {
  width: 100%;
  height: auto;
  display: block;
  clip-path: polygon(50% 100%, 100% 86%, 100% 0%, 0 0%, 0 85%);
}

.slogan-frase {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f3d6af;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  font-family: "Fraunces", serif;
}

.slogan-subtitulo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f3d6af;
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  font-family: "Cormorant Garamond", serif;
}

.secao-bege {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 4rem 1rem;
  gap: 2rem;
}

.secao-bege .texto-superior {
  color: #320000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secao-bege .texto-superior h2 {
  text-transform: uppercase;
  justify-self: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 2.9rem;
}

.secao-bege .texto-superior p {
  text-align: center;
  padding-top: 0.5rem;
  max-width: 30rem;
  font-size: 1.2rem;
}

.menu-classico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 4rem;
}

.card {
  width: 15rem;
  background-color: #d4a373;
  border-radius: 8px;
  overflow: hidden;
}

.card:hover {
  scale: 1.05;
  transition: all 0.3s ease;
}

.card img {
  width: 100%;
  display: block;
}

.card p {
  margin: 0;
  padding: 0.8rem;
  color: #320000;
  font-weight: 500;
  text-align: center;
}

.card .preco {
  font-weight: 700;
}

.card h3 {
  justify-self: center;
  color: #320000;
  padding-top: 0.5rem;
}

.secao-rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  width: 100%;
  clip-path: polygon(50% 0%, 100% 24%, 100% 100%, 0 100%, 0 23%);
  position: relative;
}

.secao-rodape .cafe-rodape {
  width: 100%;
  height: auto;
  display: block;
}

.secao-rodape .promocao {
  position: absolute;
  background-color: #d4a373;
  top: 40%;
  left: 8%;
  padding: 30px;
  height: 300px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  gap: 10px;
}

.texto-promocao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  width: 100%;
}

.secao-rodape .texto-promocao {
  text-align: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  justify-content: center;
}

.secao-rodape .texto-promocao h1 {
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 900;
  font-family: "Fraunces", serif;
}

.secao-rodape .texto-promocao button {
  border: none;
  background: none;
  cursor: pointer;
  background-color: #320000;
  color: #d4a373;
  font-weight: bold;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 20px;
}

.secao-rodape .texto-promocao button:hover {
  scale: 1.1;
  font-weight: bold;
  transition: all 0.3s ease;
}

.secao-rodape .promocao img {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 260px;
  width: auto;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}

.texto-direito {
  position: absolute;
  right: 8%;
  top: 55%;
  transform: translateY(-50%);
  color: #f3d6af;
  font-size: 40px;
  text-align: right;
  max-width: 300px;
  font-family: "Fraunces", serif;
}

.secao-rodape,
footer {
  margin: 0;
}

footer {
  background-color: #320000;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  margin: 0;
}

footer .texto-rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: #320000;
  color: antiquewhite;
  width: 100%;
  height: 100%;
  padding: 50px 1rem;
  font-family: "Fraunces", serif;
  gap: 5px;
}

footer .texto-rodape .info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
  gap: 1rem;
  padding-right: 0;
}

footer .texto-rodape .info p {
  flex: 1;
}

footer .texto-rodape .info p:nth-child(2) {
  text-align: center;
}

footer .texto-rodape .info p:first-child {
  text-align: left;
}

footer .texto-rodape .info p:last-child {
  text-align: right;
}

footer .texto-rodape .copy {
  margin-top: 20px;
  font-size: small;
  text-align: center;
  opacity: 0.8;
}
