* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
}

.header {
  background-color: #320000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 450px;
  height: 100px;
  position: relative;
}

.titulo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Great Vibes", cursive;
  color: antiquewhite;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 700;
}

.opcoes-cabecalho-esquerda,
.opcoes-cabecalho-direita {
  display: flex;
  gap: 32px;
  align-items: center;
  font-family: "Elms Sans", sans-serif;
  transition: color 0.3s, transform 0.3 ease;
}

.opcoes-cabecalho-esquerda a,
.opcoes-cabecalho-direita a {
  text-decoration: none;
  color: antiquewhite;
}

.opcoes-cabecalho-esquerda a:hover,
.opcoes-cabecalho-direita a:hover {
  color: #d4a373;
  transform: scale(1.05);
  font-weight: bold;
}

.opcoes-cabecalho-direita a:last-child {
  border: 2px solid antiquewhite;
  border-radius: 45%;
  padding: 8px 12px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opcoes-cabecalho-direita a:last-child:hover {
  color: #320000;
  background-color: #d4a373;
}
